.app {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: auto minmax(0,1fr) auto;
	overflow: hidden;
	background: linear-gradient(214deg, rgba(200,0,146,1) 0%, rgba(200,0,0,1) 50%, rgba(200,65,0,1) 100%);
	font-family: 'Montserrat', sans-serif;
}

.content {
	display: grid;
	grid-template-rows: 1fr;
}

.price {
	display: flex;
	gap: 2px;
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}