.card-display {
	display: flex;
  flex-direction: column;
	overflow-y: scroll;
}

.card-display > h2 {
	margin: 12px 24px;
	padding-bottom: 4px;
	border-bottom: 2px white solid;
	color: white;
}

.product-cards {
	padding: 24px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 24px;
	flex: 1 0 1px;
	padding-right: 24px;
}