.checkout-page {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	overflow-y: scroll;
	min-height: 0;
	padding: 24px;
	gap: 12px;
}

.checkout-page > h1 {
	color: white;
	text-transform: uppercase;
}

.checkout-page > div {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 24px;
}

.cart {
	padding: 24px;
	background-color: white;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	gap: 4px;
}

.cart:hover {
	overflow: scroll;
}

.cart-header {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

.cart-items {
	display: flex;
	flex-direction: column;
	flex: 1 0 1px;
}

.subtotal {
	text-align: right;
	font-weight: bold;
}

.to-checkout-section {
	padding: 24px;
	border-radius: 24px;
	background-color: white;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-weight: bold;
}

.checkout-btn {
	font-size: 16px;
	padding: 12px;
	color: white;
	background-color: rgb(0, 0, 196);
	border-radius: 12px;
	transition: 0.25s background-color ease-in-out;
}

.checkout-btn:hover {
	background-color: navy;
}

.no-items {
	background-color: white;
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.no-items p {
	font-size: 20px;
}