@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'BauhausBold';
	src: url('../assets/fonts/bauhaus-bold.ttf') format('truetype');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
	height: 100vh;
	width: 100vw;
	margin: 0px;
}

body {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

input {
	border: none;
	padding: 2px 4px;
	border-radius: 4px;
}

input:focus {
	outline: none;
}

button {
	border: none;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
}

button:hover {
	cursor: pointer;
}

.text-right {
	text-align: right;
}