.product-page {
	overflow-y: scroll;
	padding: 24px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	place-items: stretch;
	column-gap: 48px;
	row-gap: 48px;
}

.product-details {
	align-self: center;
	display: flex;
	flex-direction: column;
	color: white;
}

.product-name {
	border-bottom: 2px solid white;
	margin-bottom: 8px;
}

.quantity {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.quantity label {
	text-transform: uppercase;
	font-size: 12px;
}

.add-to-cart-btn {
	padding: 8px;
	font-size: 14px;
	border: 2px white solid;
	border-radius: 8px;
	color: white;
	align-self: center;
	margin-top: 12px;
}

.usage-section {
	place-self: flex-start stretch;
}

.releases-section {
	place-self: flex-start stretch;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.usage-section h2, .releases-section h2 {
	color: white;
	border-bottom: 2px solid white;
	margin-bottom: 12px;
	padding-bottom: 4px;
}