.product-card {
	height: 275px;
	display: grid;
	grid-template-rows: 200px 1fr;
	justify-items: stretch;
	background-color: white;
	border-radius: 24px;
	position: relative;
	top: 0;
	transition: top ease 0.5s;
}

.product-card:hover {
	top: -16px;
}

.card-info {
	position: relative;
	padding: 12px;
}

.card-info > p {
	font-size: 14px;
}

.card-image {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border-radius: 24px 24px 0px 0px;
	padding: 24px;
}

.product-card img {
	align-self: center;
	width: auto;
	max-width: 100%;
	max-height: 150px;
}

.product-card .price {
	position: absolute;
	bottom: 12px;
	right: 12px;
	align-self: flex-end;
	font-weight: bold;
}

.product-card .dollars {
	font-size: 16px;
}

.product-card .cents {
	font-size: 10px;
}

.product-card .type {
	position: absolute;
	text-transform: uppercase;
	bottom: 12px;
	left: 12px;
	font-size: 10px;
}