.product-page {
	overflow-y: scroll;
	padding: 48px;
	padding-bottom: 12px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	place-items: stretch;
	column-gap: 48px;
	row-gap: 48px;
}

.product-details {
	align-self: center;
	display: flex;
	flex-direction: column;
	color: white;
}

.series-type {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.series-type p:last-child {
	font-size: 12px;
	text-transform: uppercase;
}

.product-details .name {
	border-bottom: 2px solid white;
	margin-bottom: 8px;
}

.description {
	margin-top: 24px;
	font-size: 14px;
}

.product-details .quantity {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.product-details .quantity label {
	text-transform: uppercase;
	font-size: 12px;
}

.add-to-cart-btn {
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px white solid;
	border-radius: 8px;
	color: white;
	align-self: center;
	margin-top: 12px;
	transition: 0.25s background-color ease-in-out,
							0.25s color ease-in-out;
}

.add-to-cart-btn:hover {
	color: black;
	background-color: white;
}

.usage-section {
	place-self: flex-start stretch;
}

.releases-section {
	place-self: flex-start stretch;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.usage-section h2, .releases-section h2 {
	color: white;
	border-bottom: 2px solid white;
	margin-bottom: 12px;
	padding-bottom: 4px;
}