.usage-table {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.table-tabs {
	border-bottom: none;
	align-self: center;
}

.table-tabs button {
	padding: 8px 16px;
	font-size: 16px;
	color: white;
	font-weight: bold;
}

.table-tabs button.active {
	color: black;
	background-color: white;
	border-radius: 8px 8px 0px 0px;
}

table {
	border-radius: 8px;
	overflow: hidden;
	font-size: 14px;
}

tbody tr:nth-child(odd) {
	background-color: white;
}

tbody tr:nth-child(even) {
	background-color: rgb(237, 237, 237);
}

table td {
	padding: 8px 16px;
}

.game-name {
	font-weight: bold;
}

.game-usage {
	padding-left: 32px;
}

.no-uses {
	background-color: white;
	border-radius: 8px;
	padding: 8px;
	text-align: center;
}